<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="root" value="D:\Projects\"/><!--Optional.  Leave empty to use different paths in solutions-->
    <add key="solutions" value=""/>
  </appSettings>
</configuration>